:root {
    --background-dark: rgb(0, 0, 0, 0.9);
    --background-light: rgb(0, 0, 0, 0.7);
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-image: url('./pastone.jpg');
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    background-color: var(--background-dark);
}

header h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;
}

nav {
    font-size: 1.5em;
    display: flex;
    gap: 5vw;
}
/* .navButton{
    padding: 1rem;
} */

.navButton:hover{
    font-size: 1.1em;
}

main#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0 2rem 0;
    background-color: var(--background-dark);
}
main#home img{
    width: 50vw;
    height: auto;
    padding: 2rem 0 2rem 0;
    border-radius: 10%;
}

@media screen and (min-width: 1200px) {
    main#home img{
        width: 40vw;
    }
}

@media screen and (min-width: 1400px) {
    main#home img{
        width: 30vw;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    background-color: var(--background-dark);
}

.active {
    border-bottom: 2px solid white;
}


main#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 2rem 0 2rem 0;
}

.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    background-color: var(--background-light);
}

.card{
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-color: var(--background-light);
    border-radius: 5px;
}

.menu div img{
    max-height: 150px;
    height: auto;
    margin: 1rem;
    border-radius: 5px;
}

.menu div h2{
    margin: 0;
}

@media screen and (max-width: 650px) {
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        margin: 2rem 0 2rem 0;
        background-color: var(--background-light);
    }
}


main#contacts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts{
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--background-light);
}

.contacts h2{
    margin-top: 0;
    align-self: flex-start;
}

.contacts iframe{
    border: 0;
    width: 600px;
    height: 450px;
}

@media screen and (max-width: 650px) {
    .contacts iframe{
        border: 0;
        width: 80vw;
        height: 40vh;
    }
}